.mainheading {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
  font-size: 80px;
  margin-top: 70px;
  -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.input {
  margin: 12px;
}

.full-width {
  width: 200px;
}
button {
  margin: 8px;
}

.form-box {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.myTag {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.result {
  text-align: center;
}

.title {
  font-size: x-large;
}

.selectBox {
  background-color: black;
}